body {
  font-family: "Open Sans", sans-serif;
  background-color: #1e5f89;

}


.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-container {
  margin-top: 50px;
}

h2 {
  color: #3046C5;
}

.card {
  margin: 10px;
  padding: 0;
}

.titles {
  background-color: #0f283d;
  color: #fff;
  padding: .75rem 1.25rem;
}


.loginCard{
  box-shadow: 3px 3px 5px;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: #0f283d;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  
}

.navbar-dark {
  background-color: #0f283d;
  margin-bottom: 30px;
  
}